style {
	display: block;
	white-space: pre;
	font-family: monospace;
	font-size: 6pt;
	position: fixed;
	bottom: 0px;
	left: 2%;
	background-color: rgba(0,0,0,0.8);
	color: #fafafa;
	padding: 15px;
	border-top-left-radius: 8px;
	border-top-right-radius: 8px;
}

style:hover {
	font-size: 18pt;
	right: 5%;
	top: 5%;
	padding: 1% 5%;
	background-color: rgba(0,0,0,0.9);
	overflow: auto;
}
div.slide { margin: 4%; font-size: 1.5em; clear: both; line-height: 2.4em; }
div.slide p { text-align: center; font-size: 1.2em; margin-bottom: 4%; }

body:after {
	content: url('toc.html');
	position: fixed;
	right: 0px;
	bottom: 0px;
	font-size: 8pt;
	font-family: sans-serif;
}
