style {
	display: block;
	white-space: pre;
	font-family: monospace;
	font-size: 6pt;
	position: fixed;
	bottom: 0px;
	left: 2%;
	background-color: rgba(0,0,0,0.8);
	color: #fafafa;
	padding: 15px;
	border-top-left-radius: 8px;
	border-top-right-radius: 8px;
}

style:hover {
	font-size: 18pt;
	right: 5%;
	top: 5%;
	padding: 1% 5%;
	background-color: rgba(0,0,0,0.9);
	overflow: auto;
}
